* {
    background-color: aliceblue;
    padding: 0%;
    margin: 0%;
}

.widget {
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 28, 28);
    display: flex;
    justify-content: space-between;
}

.time {
    height: 100%;
    width: 49.95%;
    background-color: black;
    color: rgb(30, 28, 28);
    font-size: 60vh;
    display: flex;
  justify-content: center;
  align-items: center
}